<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création Demande d'autorisation</title>

    <!-- Lien vers le CDN de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Lien vers votre fichier CSS personnalisé -->
    <link rel="stylesheet" type="text/css" href="./static/css/createautorisation.css" />
</head>
<body>

<header class="bg-primary text-white text-center py-4">
    <h1>Bienvenue sur le site des trocs</h1>
   <nav>


        <a href="{{ url_for('main.home') }}" class="btn btn-light mx-2">Home</a>



        <a href="{{ url_for('main.index_autorisation') }}" class="btn btn-light mx-2">Listes des Demandes
            d'autorisation recus</a>

         <a href="{{ url_for('main.index_autorisation_envoye') }}" class="btn btn-light mx-2">Listes des Demandes
            d'autorisation envoyés</a>

        <a href="{{ url_for('main.index_troc_received') }}" class="btn btn-light mx-2">Listes des Trocs reçus</a>


        <a href="{{ url_for('main.index_troc_sent') }}" class="btn btn-light mx-2">Listes des Trocs envoyés</a>


        <a href="{{ url_for('main.create_troc') }}" class="btn btn-light mx-2">Création de Trocs</a>

        <a href="{{ url_for('main.create_demande_autorisation') }}" class="btn btn-light mx-2">Création de démande d'autorisation</a>


        <a href="{{ url_for('main.list_authorization_accepted') }}" class="btn btn-light mx-2">List des autorisations valides</a>

    </nav>
</header>

<!-- Section de contenu principal -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <!-- Navigation pour revenir en arrière -->
            <div class="d-flex justify-content-between mb-4">
                <a href="/" class="btn btn-primary">Retour à l'Accueil</a>
            </div>

            <h1 class="text-center mb-4">Créer une demande d'autorisation</h1>

            <!-- Formulaire de création de demande d'autorisation -->
            <form action="{{ url_for('main.create_demande_autorisation')}}" method="post" class="bg-light p-4 rounded shadow">

                  <div class="form-group">
                    <label for="idTroqueur">Troqueur ID:</label>
                    <input type="text" id="idTroqueur" name="idTroqueur" class="form-control" value="{{ groupe_id }}">
                  </div>

                <div class="form-group">
                    <label for="idDestinataire">Destinataire ID:</label>
                    <input type="text" id="idDestinataire" name="idDestinataire" class="form-control" >
                  </div>

                <div class="form-group">
                    <label for="idFichier">Fichier ID:</label>
                    <input type="text" id="idFichier" name="idFichier" class="form-control" >
                  </div>


                <!-- Sélection du statut -->
                <div class="form-group">
                    <label for="statut_autorisation">Statut de l'autorisation :</label>
                    <select id="statut_autorisation" name="statut_autorisation" class="form-control" required>
                        <option value="demande">Demande</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="idMessage">id Message :</label>
                    <input type="text" id="idMessage" name="idMessage" class="form-control">
                </div>
                <!-- Champ Mail -->
                <div class="form-group">
                    <label for="mail">Mail :</label>
                    <input type="email" id="mail" name="mail" class="form-control">
                </div>

                <!-- Champ Téléphone -->
                <div class="form-group">
                    <label for="telephone">Téléphone :</label>
                    <input type="text" id="telephone" name="telephone" class="form-control" required placeholder="Veuillez entrer votre téléphone">
                </div>

                <div class="form-group">
                    <label for="nomAuteur">Nom Auteur :</label>
                    <input type="text" id="nomAuteur" name="telephone" class="form-control" required placeholder="Veuillez entrer le nom d'auteur">
                </div>

                <!-- Bouton de soumission -->
                <button type="submit" class="btn btn-primary btn-block">Create d'une demande d'authorization</button>
            </form>
        </div>
    </div>
</div>

<!-- CDN Bootstrap JS, Popper.js, et jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

