<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Troc</title>

    <!-- CDN Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Lien vers votre CSS personnalisé -->
    <link rel="stylesheet" type="text/css" href="./static/css/indexautorisation.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/menu.css" />
</head>
<body>

<header class="bg-primary text-white text-center py-4">
    <h1>Bienvenue sur le site des trocs</h1>
   <nav>


        <a href="{{ url_for('main.home') }}" class="btn btn-light mx-2">Home</a>

        {% if current_user.is_authenticated %}

        <a href="{{ url_for('main.index_autorisation') }}" class="btn btn-light mx-2">Listes des Demandes
            d'autorisation recus</a>

         <a href="{{ url_for('main.index_autorisation_envoye') }}" class="btn btn-light mx-2">Listes des Demandes
            d'autorisation envoyés</a>

        <a href="{{ url_for('main.index_troc_received') }}" class="btn btn-light mx-2">Listes des Trocs reçus</a>


        <a href="{{ url_for('main.index_troc_sent') }}" class="btn btn-light mx-2">Listes des Trocs envoyés</a>


        <a href="{{ url_for('main.create_troc') }}" class="btn btn-light mx-2">Création de Trocs</a>

       <a href="{{ url_for('main.create_demande_autorisation') }}" class="btn btn-light mx-2">Création de démande d'autorisation</a>


        {% endif %}
        {% if not current_user.is_authenticated %}

        <a href="{{ url_for('auth.login') }}" class="btn btn-light mx-2">Login</a>


        <a href="{{ url_for('auth.signup') }}" class="btn btn-light mx-2">Sign Up</a>

        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}" class="btn btn-light mx-2">Logout</a>
        {% endif %}
    </nav>
</header>


<div class="container mt-5">
    <div class="d-flex justify-content-between mb-4">
        <a href="/" class="btn btn-primary">Retour à l'Accueil</a>
    </div>

    <h1 class="text-center mb-4">Liste des Autorisations accepte ou refuse</h1>

    <div class="autorization-list">
        {% for autorization in autorizations %}
        <div class="autorization card mb-4 p-3 shadow-sm">
            <h2 class="card-title">Les informations générales de l'autorisation</h2>
            <div class="card-body">
                <p><strong>Identifiant du Troqueur:</strong> {{ autorization.idTroqueur }}</p>
                <p><strong>Identifiant du Destinataire:</strong> {{ autorization.idDestinataire }}</p>
                <p><strong>Identifiant du Fichier:</strong> {{ autorization.idFichier }}</p>
                <p><strong>Date du Fichier:</strong> {{ autorization.dateFichier }}</p>

                <p><strong>Demande d'Autorisation Statut:</strong>
                    <span class="statut" data-status="{{ autorization.messageDemandeAutorisation.statutAutorisation }}">
                        {{ autorization.messageDemandeAutorisation.statutAutorisation }}
                    </span>
                </p>

                <p><strong>Demande d'Autorisation Date:</strong> {{ autorization.messageDemandeAutorisation.date }}</p>
                <p><strong>Identifiant du Message:</strong> {{ autorization.messageDemandeAutorisation.idMessage }}</p>
                <p><strong>Mail:</strong> {{ autorization.messageDemandeAutorisation.coordonnees.mail }}</p>
                <p><strong>Téléphone:</strong> {{ autorization.messageDemandeAutorisation.coordonnees.telephone }}</p>
            </div>


        </div>
        {% endfor %}
    </div>
</div>

<!-- JS Bootstrap et votre fichier JS personnalisé -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="./static/js/indexautorisation.js" defer></script>

</body>
</html>
