<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Troc</title>
    <link rel="stylesheet" type="text/css" href="./static/css/indextroc.css" />
</head>
<body>
    <nav>
        <a href="/" class="button">Retour à l'Accueil</a>
        <a href="/create" class="button">Créer un Trocs</a>
    </nav>

    <div class="trocs">
        {% for troc in trocs | sort(attribute='date_fichier', reverse=True) %}
        <div class="troc">
            <h2>Les informations générales du troc</h2>
            <h3>Identifiant du troqueur : {{ troc.id_troqueur }}</h3>
            <h3>Identifiant du destinataire : {{ troc.id_destinataire }}</h3>
            <h3>Identifiant du fichier : {{ troc.id_fichier }}</h3>
            <h3>Date du fichier : {{ troc.date_fichier }}</h3>

            <h2>Les messages</h2>
            {% for message in troc.messages | sort(attribute='date_message', reverse=True) %}
            <div class="message">
                <h3>Date du message : {{ message.date_message }}</h3>
                <h3>Statut du message : {{ message.statut }}</h3>
                <h2>Les objets à échanger du message</h2>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Titre</th>
                            <th scope="col">Description</th>
                            <th scope="col">Qualité</th>
                            <th scope="col">Quantité</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for objet in message.objets %}
                        <tr>
                            <td>{{ objet.titre }}</td>
                            <td>{{ objet.description }}</td>
                            <td>{{ objet.qualite }}</td>
                            <td>{{ objet.quantite }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>Acceptez-vous ce troc ?</p>
                <button onclick="acceptTrade(this.parentElement)">Accepter</button>
                <button onclick="declineTrade(this.parentElement)">Refuser</button>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <h2>La liste des fichiers pas bons</h2>
    <div class="bad-files">
        {{ noms_des_fichiers_pas_bons }}
    </div>
    <script src="./static/js/indextroc.js" defer></script>

</body>
</html>
