<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ajouter un Message</title>
        <link rel="stylesheet" type="text/css" href="./static/css/createtroc.css" />
    </head>
    <body>
        <nav>
            <a href="/" class="button">Retour à l'Accueil</a>
            <a href="/troc/{{ troc.id_troc }}" class="button">Voir le Troc</a>
        </nav>

        <h2>Ajouter un Message pour le Troc ID : {{ troc.id_troc }}</h2>

        <form action="/troc/{{ troc.id_troc }}/add_message" method="POST">
            <label for="date_message">Date du Message</label>
            <input type="datetime-local" id="date_message" name="date_message" required>

            <label for="statut">Statut</label>
            <input type="text" id="statut" name="statut" required>

            <label for="objet_titre">Titre de l'Objet</label>
            <input type="text" id="objet_titre" name="objet_titre" required>

            <label for="objet_description">Description de l'Objet</label>
            <input type="text" id="objet_description" name="objet_description" required>

            <label for="objet_qualite">Qualité de l'Objet</label>
            <input type="text" id="objet_qualite" name="objet_qualite" required>

            <label for="objet_quantite">Quantité de l'Objet</label>
            <input type="number" id="objet_quantite" name="objet_quantite" required>

            <input type="submit" value="Ajouter le Message">
        </form>
    </body>
</html>
